# LINE Messaging API 設定
# 請到 LINE Developers Console 取得以下資訊
# https://developers.line.biz/console/

LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token_here
LINE_CHANNEL_SECRET=your_channel_secret_here

# 伺服器設定
PORT=3000

# 推播時間（24小時制，預設早上 8 點）
PUSH_HOUR=8
PUSH_MINUTE=0
